In [1]:
import numpy as np # linear algebra
import pandas as pd

prior = pd.read_csv('data/order_products__prior.csv', dtype={'order_id': np.uint32,
           'product_id': np.uint16, 'reordered': np.uint8, 'add_to_cart_order': np.uint8})

train_orders = pd.read_csv('data/order_products__train.csv', dtype={'order_id': np.uint32,
           'product_id': np.uint16, 'reordered': np.int8, 'add_to_cart_order': np.uint8 })

orders = pd.read_csv('data/orders.csv', dtype={'order_hour_of_day': np.uint8,
           'order_number': np.uint8, 'order_id': np.uint32, 'user_id': np.uint32,
           'order_dow': np.uint8, 'days_since_prior_order': np.float16})
products = pd.read_csv('data/products.csv', dtype={'product_id': np.uint16,
            'aisle_id': np.uint8, 'department_id': np.uint8},
             usecols=['product_id', 'aisle_id', 'department_id'])

In [2]:
orders.eval_set = orders.eval_set.replace({'prior': 0, 'train': 1, 'test':2}).astype(np.uint8)
orders.days_since_prior_order = orders.days_since_prior_order.fillna(30).astype(np.uint8)

In [3]:
train_orders = train_orders.merge(orders[['user_id','order_id']], on = 'order_id', how = 'left')

In [4]:
orders.merge(prior, how = 'inner', on = 'order_id')

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,0,1,2,8,30,196,1,0
1,2539329,1,0,1,2,8,30,14084,2,0
2,2539329,1,0,1,2,8,30,12427,3,0
3,2539329,1,0,1,2,8,30,26088,4,0
4,2539329,1,0,1,2,8,30,26405,5,0
5,2398795,1,0,2,3,7,15,196,1,1
6,2398795,1,0,2,3,7,15,10258,2,0
7,2398795,1,0,2,3,7,15,12427,3,1
8,2398795,1,0,2,3,7,15,13176,4,0
9,2398795,1,0,2,3,7,15,26088,5,1
10,2398795,1,0,2,3,7,15,13032,6,0
11,473747,1,0,3,3,12,21,196,1,1
12,473747,1,0,3,3,12,21,12427,2,1
13,473747,1,0,3,3,12,21,10258,3,1
14,473747,1,0,3,3,12,21,25133,4,0
15,473747,1,0,3,3,12,21,30450,5,0
16,2254736,1,0,4,4,7,29,196,1,1
17,2254736,1,0,4,4,7,29,12427,2,1
18,2254736,1,0,4,4,7,29,10258,3,1
19,2254736,1,0,4,4,7,29,25133,4,1
20,2254736,1,0,4,4,7,29,26405,5,1
21,431534,1,0,5,4,15,28,196,1,1
22,431534,1,0,5,4,15,28,12427,2,1
23,431534,1,0,5,4,15,28,10258,3,1
24,431534,1,0,5,4,15,28,25133,4,1
25,431534,1,0,5,4,15,28,10326,5,0
26,431534,1,0,5,4,15,28,17122,6,0
27,431534,1,0,5,4,15,28,41787,7,0
28,431534,1,0,5,4,15,28,13176,8,1
29,3367565,1,0,6,2,7,19,196,1,1
...,...,...,...,...,...,...,...,...,...,...
32434459,1854736,206209,0,11,4,10,30,48370,8,0
32434460,626363,206209,0,12,1,12,18,6846,1,1
32434461,626363,206209,0,12,1,12,18,24852,2,1
32434462,626363,206209,0,12,1,12,18,9405,3,1
32434463,626363,206209,0,12,1,12,18,19348,4,1
32434464,626363,206209,0,12,1,12,18,41213,5,1
32434465,626363,206209,0,12,1,12,18,15700,6,1
32434466,626363,206209,0,12,1,12,18,38167,7,1
32434467,626363,206209,0,12,1,12,18,26209,8,0
32434468,626363,206209,0,12,1,12,18,33129,9,1
32434469,626363,206209,0,12,1,12,18,43961,10,1
32434470,626363,206209,0,12,1,12,18,23800,11,1
32434471,626363,206209,0,12,1,12,18,13838,12,1
32434472,626363,206209,0,12,1,12,18,48742,13,1
32434473,626363,206209,0,12,1,12,18,23594,14,1
32434474,626363,206209,0,12,1,12,18,20590,15,0
32434475,626363,206209,0,12,1,12,18,16168,16,0
32434476,626363,206209,0,12,1,12,18,33351,17,0
32434477,626363,206209,0,12,1,12,18,5622,18,0
32434478,626363,206209,0,12,1,12,18,23039,19,1
32434479,626363,206209,0,12,1,12,18,14727,20,0
32434480,2977660,206209,0,13,1,12,7,24852,1,1
32434481,2977660,206209,0,13,1,12,7,9405,2,1
32434482,2977660,206209,0,13,1,12,7,16168,3,1
32434483,2977660,206209,0,13,1,12,7,39216,4,0
32434484,2977660,206209,0,13,1,12,7,14197,5,1
32434485,2977660,206209,0,13,1,12,7,38730,6,0
32434486,2977660,206209,0,13,1,12,7,31477,7,0
32434487,2977660,206209,0,13,1,12,7,6567,8,0
32434488,2977660,206209,0,13,1,12,7,22920,9,0

In [5]:
orders_products = orders.merge(prior, how = 'inner', on = 'order_id')

In [6]:
import gc
del prior
gc.collect()
orders_products.sort_values(['user_id', 'order_number', 'product_id'], ascending=True)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,0,1,2,8,30,196,1,0
2,2539329,1,0,1,2,8,30,12427,3,0
1,2539329,1,0,1,2,8,30,14084,2,0
3,2539329,1,0,1,2,8,30,26088,4,0
4,2539329,1,0,1,2,8,30,26405,5,0
5,2398795,1,0,2,3,7,15,196,1,1
6,2398795,1,0,2,3,7,15,10258,2,0
7,2398795,1,0,2,3,7,15,12427,3,1
10,2398795,1,0,2,3,7,15,13032,6,0
8,2398795,1,0,2,3,7,15,13176,4,0
9,2398795,1,0,2,3,7,15,26088,5,1
11,473747,1,0,3,3,12,21,196,1,1
13,473747,1,0,3,3,12,21,10258,3,1
12,473747,1,0,3,3,12,21,12427,2,1
14,473747,1,0,3,3,12,21,25133,4,0
15,473747,1,0,3,3,12,21,30450,5,0
16,2254736,1,0,4,4,7,29,196,1,1
18,2254736,1,0,4,4,7,29,10258,3,1
17,2254736,1,0,4,4,7,29,12427,2,1
19,2254736,1,0,4,4,7,29,25133,4,1
20,2254736,1,0,4,4,7,29,26405,5,1
21,431534,1,0,5,4,15,28,196,1,1
23,431534,1,0,5,4,15,28,10258,3,1
25,431534,1,0,5,4,15,28,10326,5,0
22,431534,1,0,5,4,15,28,12427,2,1
28,431534,1,0,5,4,15,28,13176,8,1
26,431534,1,0,5,4,15,28,17122,6,0
24,431534,1,0,5,4,15,28,25133,4,1
27,431534,1,0,5,4,15,28,41787,7,0
29,3367565,1,0,6,2,7,19,196,1,1
...,...,...,...,...,...,...,...,...,...,...
32434459,1854736,206209,0,11,4,10,30,48370,8,0
32434477,626363,206209,0,12,1,12,18,5622,18,0
32434460,626363,206209,0,12,1,12,18,6846,1,1
32434462,626363,206209,0,12,1,12,18,9405,3,1
32434471,626363,206209,0,12,1,12,18,13838,12,1
32434479,626363,206209,0,12,1,12,18,14727,20,0
32434465,626363,206209,0,12,1,12,18,15700,6,1
32434475,626363,206209,0,12,1,12,18,16168,16,0
32434463,626363,206209,0,12,1,12,18,19348,4,1
32434474,626363,206209,0,12,1,12,18,20590,15,0
32434478,626363,206209,0,12,1,12,18,23039,19,1
32434473,626363,206209,0,12,1,12,18,23594,14,1
32434470,626363,206209,0,12,1,12,18,23800,11,1
32434461,626363,206209,0,12,1,12,18,24852,2,1
32434467,626363,206209,0,12,1,12,18,26209,8,0
32434468,626363,206209,0,12,1,12,18,33129,9,1
32434476,626363,206209,0,12,1,12,18,33351,17,0
32434466,626363,206209,0,12,1,12,18,38167,7,1
32434464,626363,206209,0,12,1,12,18,41213,5,1
32434469,626363,206209,0,12,1,12,18,43961,10,1
32434472,626363,206209,0,12,1,12,18,48742,13,1
32434487,2977660,206209,0,13,1,12,7,6567,8,0
32434481,2977660,206209,0,13,1,12,7,9405,2,1
32434484,2977660,206209,0,13,1,12,7,14197,5,1
32434482,2977660,206209,0,13,1,12,7,16168,3,1
32434488,2977660,206209,0,13,1,12,7,22920,9,0
32434480,2977660,206209,0,13,1,12,7,24852,1,1
32434486,2977660,206209,0,13,1,12,7,31477,7,0
32434485,2977660,206209,0,13,1,12,7,38730,6,0
32434483,2977660,206209,0,13,1,12,7,39216,4,0

reorder 추가 확인 칼럼

In [7]:
prdss = orders_products.sort_values(['user_id', 'order_number', 'product_id'], ascending=True)
prdss['product_time'] = prdss.groupby(['user_id', 'product_id']).cumcount()+1 # 유저마다 상품을 살때 그 정보가 데이터에 기록이 되기 때문에,(= 상품 구매 횟수)
prdss.head(30)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_time
0,2539329,1,0,1,2,8,30,196,1,0,1
2,2539329,1,0,1,2,8,30,12427,3,0,1
1,2539329,1,0,1,2,8,30,14084,2,0,1
3,2539329,1,0,1,2,8,30,26088,4,0,1
4,2539329,1,0,1,2,8,30,26405,5,0,1
5,2398795,1,0,2,3,7,15,196,1,1,2
6,2398795,1,0,2,3,7,15,10258,2,0,1
7,2398795,1,0,2,3,7,15,12427,3,1,2
10,2398795,1,0,2,3,7,15,13032,6,0,1
8,2398795,1,0,2,3,7,15,13176,4,0,1
9,2398795,1,0,2,3,7,15,26088,5,1,2
11,473747,1,0,3,3,12,21,196,1,1,3
13,473747,1,0,3,3,12,21,10258,3,1,2
12,473747,1,0,3,3,12,21,12427,2,1,3
14,473747,1,0,3,3,12,21,25133,4,0,1
15,473747,1,0,3,3,12,21,30450,5,0,1
16,2254736,1,0,4,4,7,29,196,1,1,4
18,2254736,1,0,4,4,7,29,10258,3,1,3
17,2254736,1,0,4,4,7,29,12427,2,1,4
19,2254736,1,0,4,4,7,29,25133,4,1,2
20,2254736,1,0,4,4,7,29,26405,5,1,2
21,431534,1,0,5,4,15,28,196,1,1,5
23,431534,1,0,5,4,15,28,10258,3,1,4
25,431534,1,0,5,4,15,28,10326,5,0,1
22,431534,1,0,5,4,15,28,12427,2,1,5
28,431534,1,0,5,4,15,28,13176,8,1,2
26,431534,1,0,5,4,15,28,17122,6,0,1
24,431534,1,0,5,4,15,28,25133,4,1,3
27,431534,1,0,5,4,15,28,41787,7,0,1
29,3367565,1,0,6,2,7,19,196,1,1,6

In [8]:
prdss[prdss['product_time'] == 1].groupby('product_id').size().to_frame('prod_first_orders').head(10)

            prod_first_orders
product_id
1                         716
2                          78
3                          74
4                         182
5                           6
6                           5
7                          18
8                          82
9                          74
10                       1268

In [9]:
sub1 = prdss[prdss['product_time'] == 1].groupby('product_id').size().to_frame('prod_first_orders')

In [10]:
sub1['prod_orders'] = prdss.groupby('product_id')['product_id'].size()
sub1['prod_reorders'] = prdss.groupby('product_id')['reordered'].sum()
sub1.head(20)

            prod_first_orders  prod_orders  prod_reorders
product_id
1                         716         1852         1136.0
2                          78           90           12.0
3                          74          277          203.0
4                         182          329          147.0
5                           6           15            9.0
6                           5            8            3.0
7                          18           30           12.0
8                          82          165           83.0
9                          74          156           82.0
10                       1268         2572         1304.0
11                         45          104           59.0
12                        120          246          126.0
13                          6            9            3.0
14                         15           17            2.0
15                          3            4            1.0
16                         17           19            2.0
17                         16           18            2.0
18                         55          137           82.0
19                          4            4            0.0
20                          5            6            1.0

* prod_orders: 제품에 대한 총 주문횟수
* prod_reorders: 제품에 대한 총 재주문 횟수

In [11]:
# 2번만 주문한 경우
sub2 = prdss[prdss['product_time'] == 2].groupby('product_id').size().to_frame('prod_second_orders')
sub2 = sub2.reset_index().merge(sub1.reset_index())
sub2.head(10)

,product_id,prod_second_orders,prod_first_orders,prod_orders,prod_reorders
0,1,276,716,1852,1136.0
1,2,8,78,90,12.0
2,3,36,74,277,203.0
3,4,64,182,329,147.0
4,5,4,6,15,9.0
5,6,2,5,8,3.0
6,7,6,18,30,12.0
7,8,30,82,165,83.0
8,9,31,74,156,82.0
9,10,399,1268,2572,1304.0

In [12]:
# 한번 사는 거에 비해서 두번 이상 사는 것의 비율
sub2['prod_reorder_probability'] = sub2['prod_second_orders']/sub2['prod_first_orders']

# 전체 주문중에 재주문율
sub2['prod_reorder_ratio'] = sub2['prod_reorders']/sub2['prod_orders']

In [13]:
sub2.head(20)

,product_id,prod_second_orders,prod_first_orders,prod_orders,prod_reorders,prod_reorder_probability,prod_reorder_ratio
0,1,276,716,1852,1136.0,0.385475,0.613391
1,2,8,78,90,12.0,0.102564,0.133333
2,3,36,74,277,203.0,0.486486,0.732852
3,4,64,182,329,147.0,0.351648,0.446809
4,5,4,6,15,9.0,0.666667,0.600000
5,6,2,5,8,3.0,0.400000,0.375000
6,7,6,18,30,12.0,0.333333,0.400000
7,8,30,82,165,83.0,0.365854,0.503030
8,9,31,74,156,82.0,0.418919,0.525641
9,10,399,1268,2572,1304.0,0.314669,0.506998
10,11,15,45,104,59.0,0.333333,0.567308
11,12,38,120,246,126.0,0.316667,0.512195
12,13,1,6,9,3.0,0.166667,0.333333
13,14,1,15,17,2.0,0.066667,0.117647
14,15,1,3,4,1.0,0.333333,0.250000
15,16,2,17,19,2.0,0.117647,0.105263
16,17,2,16,18,2.0,0.125000,0.111111
17,18,23,55,137,82.0,0.418182,0.598540
18,20,1,5,6,1.0,0.200000,0.166667
19,21,2,8,10,2.0,0.250000,0.200000

In [14]:
# 교호작용하는 것들만 남겨도 모델링해도 성능이 잘 나오면 다른 기존 칼럼들을 뺴줘도 된다 
prd = sub2[['product_id', 'prod_orders','prod_reorder_probability', 'prod_reorder_ratio']]
prd.head(20)

    product_id  prod_orders  prod_reorder_probability  prod_reorder_ratio
0            1         1852                  0.385475            0.613391
1            2           90                  0.102564            0.133333
2            3          277                  0.486486            0.732852
3            4          329                  0.351648            0.446809
4            5           15                  0.666667            0.600000
5            6            8                  0.400000            0.375000
6            7           30                  0.333333            0.400000
7            8          165                  0.365854            0.503030
8            9          156                  0.418919            0.525641
9           10         2572                  0.314669            0.506998
10          11          104                  0.333333            0.567308
11          12          246                  0.316667            0.512195
12          13            9                  0.166667            0.333333
13          14           17                  0.066667            0.117647
14          15            4                  0.333333            0.250000
15          16           19                  0.117647            0.105263
16          17           18                  0.125000            0.111111
17          18          137                  0.418182            0.598540
18          20            6                  0.200000            0.166667
19          21           10                  0.250000            0.200000

In [15]:
del sub1, sub2, prdss
gc.collect()

0

In [16]:
orders.head(30)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,0,1,2,8,30
1,2398795,1,0,2,3,7,15
2,473747,1,0,3,3,12,21
3,2254736,1,0,4,4,7,29
4,431534,1,0,5,4,15,28
5,3367565,1,0,6,2,7,19
6,550135,1,0,7,1,9,20
7,3108588,1,0,8,1,14,14
8,2295261,1,0,9,1,16,0
9,2550362,1,0,10,4,8,30
10,1187899,1,1,11,4,8,14
11,2168274,2,0,1,2,11,30
12,1501582,2,0,2,5,10,10
13,1901567,2,0,3,1,10,3
14,738281,2,0,4,2,10,8
15,1673511,2,0,5,3,11,8
16,1199898,2,0,6,2,9,13
17,3194192,2,0,7,2,12,14
18,788338,2,0,8,1,15,27
19,1718559,2,0,9,2,9,8
20,1447487,2,0,10,1,11,6
21,1402090,2,0,11,1,10,30
22,3186735,2,0,12,1,9,28
23,3268552,2,0,13,4,11,30
24,839880,2,0,14,3,10,13
25,1492625,2,1,15,1,11,30
26,1374495,3,0,1,1,14,30
27,444309,3,0,2,3,19,9
28,3002854,3,0,3,3,16,21
29,2037211,3,0,4,2,18,20

In [17]:
# 유저마다 총 주문 횟수
users = orders[orders['eval_set'] == 0].groupby(['user_id'])['order_number'].max().to_frame('user_orders')

In [18]:
users['user_period'] = orders[orders['eval_set'] == 0].groupby(['user_id'])['days_since_prior_order'].sum()

# 평균적으로 몇일 뒤에 구매하는지
users['user_mean_days_since_prior'] = orders[orders['eval_set'] == 0].groupby(['user_id'])['days_since_prior_order'].mean()
users.head(20)

         user_orders  user_period  user_mean_days_since_prior
user_id
1                 10        206.0                   20.600000
2                 14        228.0                   16.285714
3                 12        163.0                   13.583333
4                  5         85.0                   17.000000
5                  4         70.0                   17.500000
6                  3         48.0                   16.000000
7                 20        233.0                   11.650000
8                  3         90.0                   30.000000
9                  3         66.0                   22.000000
10                 5        109.0                   21.800000
11                 7        153.0                   21.857143
12                 5        130.0                   26.000000
13                12        114.0                    9.500000
14                13        295.0                   22.692308
15                22        257.0                   11.681818
16                 6        139.0                   23.166667
17                40        320.0                    8.000000
18                 6         58.0                    9.666667
19                 9        106.0                   11.777778
20                 4         45.0                   11.250000

In [19]:
# 유저별 total 상품 구매수
us = orders_products.groupby('user_id')['product_id'].size().to_frame('user_total_products')

In [20]:
# 유저 정보 추가~ 이 사람이 어떤 제품을 샀다면, 그 제품을 진~득하게 계속 사는 사람인지

# 유저가 재구매 했는지 여부
us['eq_1'] = orders_products[orders_products['reordered'] == 1].groupby('user_id')['product_id'].size()

# 유저가 주문을 얼마나 했는지
us['gt_1'] = orders_products[orders_products['order_number'] > 1].groupby('user_id')['product_id'].size()
us.head(20)

         user_total_products   eq_1  gt_1
user_id
1                         59   41.0    54
2                        195   93.0   182
3                         88   55.0    78
4                         18    1.0    14
5                         37   14.0    26
6                         14    2.0    10
7                        206  138.0   194
8                         49   13.0    28
9                         76   18.0    46
10                       143   49.0   138
11                        94   33.0    81
12                        74   13.0    71
13                        81   52.0    76
14                       210   68.0   205
15                        72   59.0    68
16                        70   24.0    55
17                       294  211.0   291
18                        39   10.0    30
19                       204   71.0   172
20                        22   15.0    18

In [21]:
# 재주문율
us['user_reorder_ratio'] = us['eq_1'] / us['gt_1']
us.drop(['eq_1', 'gt_1'], axis = 1, inplace = True)
us.head(20)

         user_total_products  user_reorder_ratio
user_id
1                         59            0.759259
2                        195            0.510989
3                         88            0.705128
4                         18            0.071429
5                         37            0.538462
6                         14            0.200000
7                        206            0.711340
8                         49            0.464286
9                         76            0.391304
10                       143            0.355072
11                        94            0.407407
12                        74            0.183099
13                        81            0.684211
14                       210            0.331707
15                        72            0.867647
16                        70            0.436364
17                       294            0.725086
18                        39            0.333333
19                       204            0.412791
20                        22            0.833333

In [22]:
# 어떤 제품을 유니크하게 샀는지(얼마나 제품을 고루 사는지)
us['user_distinct_products'] = orders_products.groupby(['user_id'])['product_id'].nunique()
us.head(20)

         user_total_products  user_reorder_ratio  user_distinct_products
user_id
1                         59            0.759259                      18
2                        195            0.510989                     102
3                         88            0.705128                      33
4                         18            0.071429                      17
5                         37            0.538462                      23
6                         14            0.200000                      12
7                        206            0.711340                      68
8                         49            0.464286                      36
9                         76            0.391304                      58
10                       143            0.355072                      94
11                        94            0.407407                      61
12                        74            0.183099                      61
13                        81            0.684211                      29
14                       210            0.331707                     142
15                        72            0.867647                      13
16                        70            0.436364                      46
17                       294            0.725086                      83
18                        39            0.333333                      29
19                       204            0.412791                     133
20                        22            0.833333                       7

In [23]:
users = users.reset_index().merge(us.reset_index())

In [24]:
users.head()

,user_id,user_orders,user_period,user_mean_days_since_prior,user_total_products,user_reorder_ratio,user_distinct_products
0,1,10,206.0,20.600000,59,0.759259,18
1,2,14,228.0,16.285714,195,0.510989,102
2,3,12,163.0,13.583333,88,0.705128,33
3,4,5,85.0,17.000000,18,0.071429,17
4,5,4,70.0,17.500000,37,0.538462,23

In [25]:
# 평균적으로 제품을 얼마나 장바구니에 담는가
users['user_average_basket'] = users['user_total_products'] / users['user_orders']
users.head(20)

,user_id,user_orders,user_period,user_mean_days_since_prior,user_total_products,user_reorder_ratio,user_distinct_products,user_average_basket
0,1,10,206.0,20.600000,59,0.759259,18,5.900000
1,2,14,228.0,16.285714,195,0.510989,102,13.928571
2,3,12,163.0,13.583333,88,0.705128,33,7.333333
3,4,5,85.0,17.000000,18,0.071429,17,3.600000
4,5,4,70.0,17.500000,37,0.538462,23,9.250000
5,6,3,48.0,16.000000,14,0.200000,12,4.666667
6,7,20,233.0,11.650000,206,0.711340,68,10.300000
7,8,3,90.0,30.000000,49,0.464286,36,16.333333
8,9,3,66.0,22.000000,76,0.391304,58,25.333333
9,10,5,109.0,21.800000,143,0.355072,94,28.600000
10,11,7,153.0,21.857143,94,0.407407,61,13.428571
11,12,5,130.0,26.000000,74,0.183099,61,14.800000
12,13,12,114.0,9.500000,81,0.684211,29,6.750000
13,14,13,295.0,22.692308,210,0.331707,142,16.153846
14,15,22,257.0,11.681818,72,0.867647,13,3.272727
15,16,6,139.0,23.166667,70,0.436364,46,11.666667
16,17,40,320.0,8.000000,294,0.725086,83,7.350000
17,18,6,58.0,9.666667,39,0.333333,29,6.500000
18,19,9,106.0,11.777778,204,0.412791,133,22.666667
19,20,4,45.0,11.250000,22,0.833333,7,5.500000

In [26]:
us = orders[orders['eval_set'] != 0]
us = us[['user_id', 'order_id', 'eval_set', 'days_since_prior_order']]
users = users.merge(us)
users.head(20)

,user_id,user_orders,user_period,user_mean_days_since_prior,user_total_products,user_reorder_ratio,user_distinct_products,user_average_basket,order_id,eval_set,days_since_prior_order
0,1,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
1,2,14,228.0,16.285714,195,0.510989,102,13.928571,1492625,1,30
2,3,12,163.0,13.583333,88,0.705128,33,7.333333,2774568,2,11
3,4,5,85.0,17.000000,18,0.071429,17,3.600000,329954,2,30
4,5,4,70.0,17.500000,37,0.538462,23,9.250000,2196797,1,6
5,6,3,48.0,16.000000,14,0.200000,12,4.666667,1528013,2,22
6,7,20,233.0,11.650000,206,0.711340,68,10.300000,525192,1,6
7,8,3,90.0,30.000000,49,0.464286,36,16.333333,880375,1,10
8,9,3,66.0,22.000000,76,0.391304,58,25.333333,1094988,1,30
9,10,5,109.0,21.800000,143,0.355072,94,28.600000,1822501,1,30
10,11,7,153.0,21.857143,94,0.407407,61,13.428571,1376945,2,8
11,12,5,130.0,26.000000,74,0.183099,61,14.800000,1356845,2,30
12,13,12,114.0,9.500000,81,0.684211,29,6.750000,1827621,1,8
13,14,13,295.0,22.692308,210,0.331707,142,16.153846,2316178,1,11
14,15,22,257.0,11.681818,72,0.867647,13,3.272727,2161313,2,7
15,16,6,139.0,23.166667,70,0.436364,46,11.666667,1416320,2,7
16,17,40,320.0,8.000000,294,0.725086,83,7.350000,2180313,1,30
17,18,6,58.0,9.666667,39,0.333333,29,6.500000,2461523,1,7
18,19,9,106.0,11.777778,204,0.412791,133,22.666667,1735923,2,8
19,20,4,45.0,11.250000,22,0.833333,7,5.500000,1980631,2,30

In [27]:
del us
gc.collect()

# 제품 선호도 지수 (유저당 제품을 얼마나 많이 샀는지)
data = orders_products.groupby(['user_id', 'product_id']).size().to_frame('up_orders')
data.head(20)

                    up_orders
user_id product_id
1       196                10
        10258               9
        10326               1
        12427              10
        13032               3
        13176               2
        14084               1
        17122               1
        25133               8
        26088               2
        26405               2
        30450               1
        35951               1
        38928               1
        39657               1
        41787               1
        46149               3
        49235               2
2       23                  1
        79                  1

In [28]:
#각각의 구매이력마다 이 제품을 장바구니에 담을때 몇번째로 담았는지를 알 수 있다.
#1번의 order에서 제품을 여러개 샀을때 제품을 가장 먼저 사는지
data['up_first_order'] = orders_products.groupby(['user_id', 'product_id'])['order_number'].min()
#1번의 order에서 제품을 여러개 샀을때 제품을 가장 늦게 샀는지
data['up_last_order'] = orders_products.groupby(['user_id', 'product_id'])['order_number'].max()
# 장바구니에 평균적으로 몇번째에 담겼는지
data['up_average_cart_position'] = orders_products.groupby(['user_id', 'product_id'])['add_to_cart_order'].mean()
data = data.reset_index()
data.head(20)

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position
0,1,196,10,1,10,1.400000
1,1,10258,9,2,10,3.333333
2,1,10326,1,5,5,5.000000
3,1,12427,10,1,10,3.300000
4,1,13032,3,2,10,6.333333
5,1,13176,2,2,5,6.000000
6,1,14084,1,1,1,2.000000
7,1,17122,1,5,5,6.000000
8,1,25133,8,3,10,4.000000
9,1,26088,2,1,2,4.500000
10,1,26405,2,1,4,5.000000
11,1,30450,1,3,3,5.000000
12,1,35951,1,10,10,7.000000
13,1,38928,1,10,10,4.000000
14,1,39657,1,10,10,3.000000
15,1,41787,1,5,5,7.000000
16,1,46149,3,8,10,3.000000
17,1,49235,2,8,9,3.500000
18,2,23,1,8,8,12.000000
19,2,79,1,13,13,3.000000

In [29]:
data = data.merge(prd, on = 'product_id')
data.head(20)

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,prod_orders,prod_reorder_probability,prod_reorder_ratio
0,1,196,10,1,10,1.400000,35791,0.5825,0.77648
1,15,196,5,15,22,2.200000,35791,0.5825,0.77648
2,19,196,3,2,7,6.333333,35791,0.5825,0.77648
3,21,196,1,10,10,2.000000,35791,0.5825,0.77648
4,31,196,2,10,17,15.500000,35791,0.5825,0.77648
5,43,196,2,6,9,5.000000,35791,0.5825,0.77648
6,52,196,14,1,21,4.285714,35791,0.5825,0.77648
7,67,196,19,1,23,1.421053,35791,0.5825,0.77648
8,81,196,2,3,5,1.500000,35791,0.5825,0.77648
9,82,196,9,1,19,2.111111,35791,0.5825,0.77648
10,98,196,7,3,14,2.571429,35791,0.5825,0.77648
11,109,196,1,3,3,5.000000,35791,0.5825,0.77648
12,120,196,2,1,3,2.000000,35791,0.5825,0.77648
13,185,196,1,2,2,10.000000,35791,0.5825,0.77648
14,195,196,12,1,57,2.083333,35791,0.5825,0.77648
15,222,196,2,17,38,4.000000,35791,0.5825,0.77648
16,290,196,2,9,28,12.000000,35791,0.5825,0.77648
17,331,196,1,6,6,8.000000,35791,0.5825,0.77648
18,360,196,1,1,1,1.000000,35791,0.5825,0.77648
19,377,196,1,3,3,9.000000,35791,0.5825,0.77648

In [30]:
data = data.merge(users, on = 'user_id')
data.head(20)

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,prod_orders,prod_reorder_probability,prod_reorder_ratio,user_orders,user_period,user_mean_days_since_prior,user_total_products,user_reorder_ratio,user_distinct_products,user_average_basket,order_id,eval_set,days_since_prior_order
0,1,196,10,1,10,1.400000,35791,0.582500,0.776480,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
1,1,10258,9,2,10,3.333333,1946,0.552962,0.713772,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
2,1,10326,1,5,5,5.000000,5526,0.521581,0.652009,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
3,1,12427,10,1,10,3.300000,6476,0.529482,0.740735,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
4,1,13032,3,2,10,6.333333,3751,0.479782,0.657158,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
5,1,13176,2,2,5,6.000000,379450,0.711884,0.832555,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
6,1,14084,1,1,1,2.000000,15935,0.629150,0.810982,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
7,1,17122,1,5,5,6.000000,13880,0.527426,0.675576,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
8,1,25133,8,3,10,4.000000,6196,0.580745,0.740155,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
9,1,26088,2,1,2,4.500000,2523,0.404987,0.539041,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
10,1,26405,2,1,4,5.000000,1214,0.362832,0.441516,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
11,1,30450,1,3,3,5.000000,21490,0.402277,0.566682,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
12,1,35951,1,10,10,7.000000,57895,0.588017,0.757837,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
13,1,38928,1,10,10,4.000000,13238,0.655263,0.827769,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
14,1,39657,1,10,10,3.000000,5019,0.634271,0.766288,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
15,1,41787,1,5,5,7.000000,35413,0.495725,0.649903,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
16,1,46149,3,8,10,3.000000,8558,0.674766,0.812456,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
17,1,49235,2,8,9,3.500000,76360,0.604446,0.781456,10,206.0,20.600000,59,0.759259,18,5.900000,1187899,1,14
18,15,196,5,15,22,2.200000,35791,0.582500,0.776480,22,257.0,11.681818,72,0.867647,13,3.272727,2161313,2,7
19,15,12427,10,1,20,2.100000,6476,0.529482,0.740735,22,257.0,11.681818,72,0.867647,13,3.272727,2161313,2,7

In [31]:
# 제품당 주문 비율
data['up_order_rate'] = data['up_orders'] / data['user_orders']
# 마지막 주문후 얼마나 지났는지
data['up_orders_since_last_order'] = data['user_orders'] - data['up_last_order']
data.head(20)

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,prod_orders,prod_reorder_probability,prod_reorder_ratio,user_orders,...,user_mean_days_since_prior,user_total_products,user_reorder_ratio,user_distinct_products,user_average_basket,order_id,eval_set,days_since_prior_order,up_order_rate,up_orders_since_last_order
0,1,196,10,1,10,1.400000,35791,0.582500,0.776480,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,1.000000,0
1,1,10258,9,2,10,3.333333,1946,0.552962,0.713772,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.900000,0
2,1,10326,1,5,5,5.000000,5526,0.521581,0.652009,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.100000,5
3,1,12427,10,1,10,3.300000,6476,0.529482,0.740735,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,1.000000,0
4,1,13032,3,2,10,6.333333,3751,0.479782,0.657158,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.300000,0
5,1,13176,2,2,5,6.000000,379450,0.711884,0.832555,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.200000,5
6,1,14084,1,1,1,2.000000,15935,0.629150,0.810982,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.100000,9
7,1,17122,1,5,5,6.000000,13880,0.527426,0.675576,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.100000,5
8,1,25133,8,3,10,4.000000,6196,0.580745,0.740155,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.800000,0
9,1,26088,2,1,2,4.500000,2523,0.404987,0.539041,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.200000,8
10,1,26405,2,1,4,5.000000,1214,0.362832,0.441516,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.200000,6
11,1,30450,1,3,3,5.000000,21490,0.402277,0.566682,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.100000,7
12,1,35951,1,10,10,7.000000,57895,0.588017,0.757837,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.100000,0
13,1,38928,1,10,10,4.000000,13238,0.655263,0.827769,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.100000,0
14,1,39657,1,10,10,3.000000,5019,0.634271,0.766288,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.100000,0
15,1,41787,1,5,5,7.000000,35413,0.495725,0.649903,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.100000,5
16,1,46149,3,8,10,3.000000,8558,0.674766,0.812456,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.300000,0
17,1,49235,2,8,9,3.500000,76360,0.604446,0.781456,10,...,20.600000,59,0.759259,18,5.900000,1187899,1,14,0.200000,1
18,15,196,5,15,22,2.200000,35791,0.582500,0.776480,22,...,11.681818,72,0.867647,13,3.272727,2161313,2,7,0.227273,0
19,15,12427,10,1,20,2.100000,6476,0.529482,0.740735,22,...,11.681818,72,0.867647,13,3.272727,2161313,2,7,0.454545,2

In [32]:
data = data.merge(train_orders[['user_id', 'product_id', 'reordered']], 
                  how = 'left', on = ['user_id', 'product_id'])
data.head(20)

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,prod_orders,prod_reorder_probability,prod_reorder_ratio,user_orders,...,user_total_products,user_reorder_ratio,user_distinct_products,user_average_basket,order_id,eval_set,days_since_prior_order,up_order_rate,up_orders_since_last_order,reordered
0,1,196,10,1,10,1.400000,35791,0.582500,0.776480,10,...,59,0.759259,18,5.900000,1187899,1,14,1.000000,0,1.0
1,1,10258,9,2,10,3.333333,1946,0.552962,0.713772,10,...,59,0.759259,18,5.900000,1187899,1,14,0.900000,0,1.0
2,1,10326,1,5,5,5.000000,5526,0.521581,0.652009,10,...,59,0.759259,18,5.900000,1187899,1,14,0.100000,5,NaN
3,1,12427,10,1,10,3.300000,6476,0.529482,0.740735,10,...,59,0.759259,18,5.900000,1187899,1,14,1.000000,0,NaN
4,1,13032,3,2,10,6.333333,3751,0.479782,0.657158,10,...,59,0.759259,18,5.900000,1187899,1,14,0.300000,0,1.0
5,1,13176,2,2,5,6.000000,379450,0.711884,0.832555,10,...,59,0.759259,18,5.900000,1187899,1,14,0.200000,5,NaN
6,1,14084,1,1,1,2.000000,15935,0.629150,0.810982,10,...,59,0.759259,18,5.900000,1187899,1,14,0.100000,9,NaN
7,1,17122,1,5,5,6.000000,13880,0.527426,0.675576,10,...,59,0.759259,18,5.900000,1187899,1,14,0.100000,5,NaN
8,1,25133,8,3,10,4.000000,6196,0.580745,0.740155,10,...,59,0.759259,18,5.900000,1187899,1,14,0.800000,0,1.0
9,1,26088,2,1,2,4.500000,2523,0.404987,0.539041,10,...,59,0.759259,18,5.900000,1187899,1,14,0.200000,8,1.0
10,1,26405,2,1,4,5.000000,1214,0.362832,0.441516,10,...,59,0.759259,18,5.900000,1187899,1,14,0.200000,6,1.0
11,1,30450,1,3,3,5.000000,21490,0.402277,0.566682,10,...,59,0.759259,18,5.900000,1187899,1,14,0.100000,7,NaN
12,1,35951,1,10,10,7.000000,57895,0.588017,0.757837,10,...,59,0.759259,18,5.900000,1187899,1,14,0.100000,0,NaN
13,1,38928,1,10,10,4.000000,13238,0.655263,0.827769,10,...,59,0.759259,18,5.900000,1187899,1,14,0.100000,0,1.0
14,1,39657,1,10,10,3.000000,5019,0.634271,0.766288,10,...,59,0.759259,18,5.900000,1187899,1,14,0.100000,0,1.0
15,1,41787,1,5,5,7.000000,35413,0.495725,0.649903,10,...,59,0.759259,18,5.900000,1187899,1,14,0.100000,5,NaN
16,1,46149,3,8,10,3.000000,8558,0.674766,0.812456,10,...,59,0.759259,18,5.900000,1187899,1,14,0.300000,0,1.0
17,1,49235,2,8,9,3.500000,76360,0.604446,0.781456,10,...,59,0.759259,18,5.900000,1187899,1,14,0.200000,1,1.0
18,15,196,5,15,22,2.200000,35791,0.582500,0.776480,22,...,72,0.867647,13,3.272727,2161313,2,7,0.227273,0,NaN
19,15,12427,10,1,20,2.100000,6476,0.529482,0.740735,22,...,72,0.867647,13,3.272727,2161313,2,7,0.454545,2,NaN

In [33]:
data = data.merge(products, on = 'product_id')
data.head(20)

,user_id,product_id,up_orders,up_first_order,up_last_order,up_average_cart_position,prod_orders,prod_reorder_probability,prod_reorder_ratio,user_orders,...,user_distinct_products,user_average_basket,order_id,eval_set,days_since_prior_order,up_order_rate,up_orders_since_last_order,reordered,aisle_id,department_id
0,1,196,10,1,10,1.400000,35791,0.5825,0.77648,10,...,18,5.900000,1187899,1,14,1.000000,0,1.0,77,7
1,15,196,5,15,22,2.200000,35791,0.5825,0.77648,22,...,13,3.272727,2161313,2,7,0.227273,0,NaN,77,7
2,19,196,3,2,7,6.333333,35791,0.5825,0.77648,9,...,133,22.666667,1735923,2,8,0.333333,2,NaN,77,7
3,21,196,1,10,10,2.000000,35791,0.5825,0.77648,33,...,102,6.212121,1854765,1,28,0.030303,23,NaN,77,7
4,31,196,2,10,17,15.500000,35791,0.5825,0.77648,20,...,190,14.950000,280888,2,18,0.100000,3,NaN,77,7
5,43,196,2,6,9,5.000000,35791,0.5825,0.77648,11,...,88,13.363636,1864787,1,26,0.181818,2,NaN,77,7
6,52,196,14,1,21,4.285714,35791,0.5825,0.77648,27,...,51,6.259259,1647290,1,3,0.518519,6,NaN,77,7
7,67,196,19,1,23,1.421053,35791,0.5825,0.77648,24,...,23,3.375000,2757217,1,5,0.791667,1,1.0,77,7
8,81,196,2,3,5,1.500000,35791,0.5825,0.77648,7,...,20,3.857143,1734166,1,8,0.285714,2,NaN,77,7
9,82,196,9,1,19,2.111111,35791,0.5825,0.77648,19,...,27,6.894737,859654,1,13,0.473684,0,NaN,77,7
10,98,196,7,3,14,2.571429,35791,0.5825,0.77648,14,...,27,3.571429,139487,2,30,0.500000,0,NaN,77,7
11,109,196,1,3,3,5.000000,35791,0.5825,0.77648,6,...,50,11.500000,1997693,1,21,0.166667,3,NaN,77,7
12,120,196,2,1,3,2.000000,35791,0.5825,0.77648,3,...,4,2.333333,961032,1,30,0.666667,0,NaN,77,7
13,185,196,1,2,2,10.000000,35791,0.5825,0.77648,6,...,34,6.666667,2887658,1,30,0.166667,4,NaN,77,7
14,195,196,12,1,57,2.083333,35791,0.5825,0.77648,58,...,38,3.189655,1458129,1,6,0.206897,1,NaN,77,7
15,222,196,2,17,38,4.000000,35791,0.5825,0.77648,70,...,137,6.914286,1789152,1,3,0.028571,32,NaN,77,7
16,290,196,2,9,28,12.000000,35791,0.5825,0.77648,51,...,548,31.176471,3116687,2,7,0.039216,23,NaN,77,7
17,331,196,1,6,6,8.000000,35791,0.5825,0.77648,8,...,33,4.875000,1544353,2,12,0.125000,2,NaN,77,7
18,360,196,1,1,1,1.000000,35791,0.5825,0.77648,3,...,13,5.333333,2364890,2,1,0.333333,2,NaN,77,7
19,377,196,1,3,3,9.000000,35791,0.5825,0.77648,3,...,27,9.666667,1558843,1,30,0.333333,0,NaN,77,7

1. aisie_id 랑 department 인코딩 하지 말아야 하는 이유

Tree 모델 ~ 카데고리형 칼럼인지 알아서 판단함(label-encodeing)

원핫인코딩 하면 칼럼수도 많은데 램 터진다. 굳이 안해도 tree 계열이 잘 카데고리로 분류한다.



LGBM 모델:
            1) 카데고리형 변수를 처리 잘한다.
            2) 데이터양이 많을 때 잘 처리한다.
            3) 모델 학습할 때 넣어줄 수 있는 옵션 ~ categorical_feautres ~ 누가 먼저 카데고리형인지 알려줄수 있음
          
CatBoost 모델: 1) 카데고리형 변수를 제일 잘 처리한다. (문자형 데이터를 처리 잘한다)
              2) 데이터가 많아지면 버벅인다. 연산량이 급속도로 증가해버린다. 
              3) 데이터가 20만개 이하일 때 괜찮다.
              4) 모델 학습할 때 넣어줄 수 있는 옵션
                cat_features ~ 누가 먼저 문자형인지 알려줄수 있음

In [34]:


data['reordered'].fillna(0, inplace=True)
data['reordered']=data['reordered'].astype(np.uint8)
gc.collect()

data.to_csv("instacart_data.csv", index=False)